body {
        min-height: 100vh;
        background-image: url('https://media3.giphy.com/media/ED7Mr5Eg83ocbhsPpY/giphy.gif?cid=ecf05e47u07q7yyqce7vf2ozaeq7kzz6dkfo6ww9k4pps3vk&rid=giphy.gif&ct=g');
        background-repeat: no-repeat;
        background-size: cover;
}